@model IEnumerable<LoraStore.Models.Sensor>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SensorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SensorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SensorPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SensorDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SensorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SensorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SensorPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SensorDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SensorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SensorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SensorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
