@model WebApplication2.Models.Nodes

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Nodes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NodeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NodeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Localization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localization)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NodePassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NodePassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NodeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
